@{
	ViewData["Title"] = "Home Page";
}
@using DatabaseFunctions;
@using Sagonne.DataBase.Table
@model IndexModel
<style>
	img {
		max-height: @Model.min_height;
	}
</style>
<div class="row">
	<div class="col-6 offset-3">
		<div class="container">
			<div id="demo" class="carousel slide carousel-fade" data-ride="carousel">
				<!-- Indicateurs -->
				<ul class="carousel-indicators">
					@for (int i = 0; i < Model.caroussel.Length; i++)
					{
						<li data-target="#demo" data-slide-to="@i" class="@(i == 0 ? "active" : "")"></li>
					}
				</ul>

				<!-- Carrousel -->
				<div class="carousel-inner">
					@for (int i = 0; i < Model.caroussel.Length; i++)
					{
						<div class="carousel-item @(i == 0 ? "active":"")">
							<img src="~/@Model.caroussel[i]" alt="Caroussel slide @i" class="d-block">
						</div>
					}
				</div>

				<!-- Contrôles -->
				<a class="carousel-control-prev" href="#demo" role="button" data-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="sr-only">Précédent</span>
				</a>
				<a class="carousel-control-next" href="#demo" role="button" data-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="sr-only">Suivant</span>
				</a>
			</div>
		</div>
	</div>
</div>
<br />
<div class="row">
	<div id="sandbox-container" class="row">
		<div id="DatePicker"></div>
		<div>
			<input type="hidden" id="Date" />
		</div>
	</div>
	<div class="col-6 col-offset-3">
		Evenement :
		<div id="modal">
		</div>
	</div>
</div>

@section Scripts {
	<script>
		$(document).ready(function () {
			$('#DatePicker').datepicker({
				language: "fr",
				todayHighlight : true
			});

			var d = new Date();

			var month = d.getMonth() + 1;
			var day = d.getDate();

			var output = day + '/' +
				(month < 10 ? '0' : '') + month + '/' +
				(day < 10 ? '0' : '') + d.getFullYear();
			//Recherche des events pour la date du jour
			$.ajax({
				url: "/Home/GetEvenement",
				method: "post",
				dataType: "json",
				data: {
					dateEvent: output
				},
				success: function (data) {
					$("#modal").html(data.event);
					console.log(data)
				},
				error: function (data) {
					console.log(data.responseText != "" && typeof (data.responseText) != "undefined" ? data.responseText : data.statusText)
				}
			});

			$('#DatePicker').on('changeDate', function(){
				$("#Date").val($('#DatePicker').datepicker('getFormattedDate'));
				$.ajax({
					url: "/Home/GetEvenement",
					method: "post",
					dataType: "json",
					data: { dateEvent: $("#Date").val() },
					success: function (data) {
						$("#modal").html(data.event);
						console.log(data)
					},
					error: function (data) {
						console.log(data.responseText != "" && typeof (data.responseText) != "undefined" ? data.responseText : data.statusText)
					}
				});
			});

		});
	</script>
}